.host-description {

    .host-description{
        display: flex;
        align-items: center;
    }
    p{
        color: $main-color;
    }
    img {
        border-radius: 50%;
        object-fit: cover;
        width: 64px;
        height: 64px;
        margin-left: 10px;
    }

}