
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    background-color: #fff;
    
    .logo{
        width: 210px;
    }

    ul {
        @include center-elements;
        font-size: 1.4rem;

        li{
            
            margin-left: 57px;
            color: $main-color;

            &:hover{
                text-decoration: underline;
            }
        }

        
        
    }
}

