
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    background-color: #fff;
    
    
    .logo{
        width: 210px;
    }

    ul {
        @include center-elements;
        font-size: 1.4rem;
        

        li{
            
            margin-left: 57px;
            color: $main-color;

        }

        .active {
            text-decoration: underline;
            color: $main-color;
        }

        
        
    }
}
@media screen and (max-width: 610px) {
    .header {

        .logo {
            width: 145px;
        }
        ul{
            font-size: 0.67rem;

            li{
                margin-left: 26px;
            }
        }
    }
}
