.about-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 38px 0;
   
 
}

@media screen and (max-width: 610px) {

   .about-container{
      margin: 0;

      &:last-child{
         margin-bottom: 20px;
      }
   }
}