
$main-color: #FF6060;
$light-grey: #f6f6f6;
$white: #fff;

@mixin center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
   
    

    .app{
        display: flex;
        flex-direction: column;
        min-height: 100vh;

      
    }
  
   
    
    .main-container{
       
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 50px;
        flex-grow: 1;
        
        
       
    
    }
  
}

main{
    flex-grow: 1;
}

li{
    list-style: none;
}

a{
    text-decoration: none;

}